data
data/*
pretrained/*
experiments/*
runs/*
# notebooks/

**/..git/*
__pycache__/
.ipynb_checkpoints/
.DS_Store
._.DS_Store
.vscode/
*.egg-info/
.pytest_cache
*.ipynb_checkpoints
# scrap*

**/full_samples/
**/extra/

word_*
test_*
scrapapp*
b4*
old_process*
production.py
build/*
requirements1.txt